*{
    padding: 0;
    margin: 0;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 0;
}
.album_block{
    flex-basis: 40%;
}
.gallery_block{
    flex-basis: 50%;
}
.albums{
    list-style: none;
    margin-top: 0;
    margin-bottom: 2px;
}
.album_item{
    font-size: large;
    cursor: pointer;
}
.photos{
    list-style: none;
    margin-bottom: 2px;
    display: flex;
    flex-flow: row wrap;
}
.photo_item{
    width: 30%;
}
img{
    width: 100%;
    display: block;
}
